.nav {
    background-color: rgb(77, 33, 223);
    width: auto;
    height: 100px;
}

a:visited {
    color: white;
}

a:hover {
    color: rgb(255, 255, 255);
}

a {
    color: white;
    font-weight: bold;
    box-sizing: border-box;
    font-size: large;
}

#table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
}

td,
th {
    padding: 8px;
}

.title {
    color: rgb(77, 33, 223);
}

.space {
    margin-left: 20px;
    text-align: center;
}

#btn {
    position: absolute;
    right: 360px;
    background-color: rgb(77, 33, 223);
    color: white;
    border: none;
    padding: 7px 50px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.container {
    margin-top: 100px;
}

th {
    background-color: rgba(202, 202, 202, 0.335);
    border-left: rgb(207, 207, 207);
}